@import "../../Styles/common";

.OrderList {
  text-align: left;
  background-color: #fff;
  .contents {
    width: 1050px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 70px auto;
  }
}
