@import "../../Styles/common";

.OrderList {
  text-align: left;
  background-color: #fff;

  .contents {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: 70px;
  }
}
