{
  "extends": ["react-app", "plugin:prettier/recommended"],
  "rules": {
    "no-var": "error",
    "no-multiple-empty-lines": "error",
    "no-nested-ternary": "error",
    "prefer-const": "error",
    "prefer-object-spread": "error",
    "constructor-super": "error",
    "no-this-before-super": "error",
    "prefer-spread": "error",
    "no-console": "error",
    "eqeqeq": "error",
    "no-unused-vars": "error",
  }
}