{
  "extends": ["react-app", "plugin:prettier/recommended"],
  "rules": {
    "no-var": "warn",
    "no-multiple-empty-lines": "warn",
    "no-nested-ternary": "warn",
    "prefer-const": "warn",
    "prefer-spread": "warn",
    "no-console": "warn",
    "eqeqeq": "warn",
    "no-unused-vars": "warn",
    "prettier/prettier": "off"
  },
}