{
  "extends": ["react-app", "plugin:prettier/recommended"],
  "rules": {
    "no-var": "error",
    "no-multiple-empty-lines": "error",
    "no-nested-ternary": "error",
    "prefer-const": "error",
    "prefer-spread": "error",
    "no-console": "error",
    "eqeqeq": "error",
    "no-unused-vars": "error",
    "prettier/prettier": "off"
  },
}