.Order {
  width: 1050px;
  margin: 0 auto;
  font-size: 14px;
  text-align: left;
  letter-spacing: -0.3px;
  background-color: #fff;

  h2 {
    margin-top: 62px;
    font-size: 20px;
    font-weight: 600;
    color: #808080;
  }
  table {
    width: 100%;
    margin: 20px 0 20px;
    border-top: 2px solid #512772;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    border-collapse: collapse;
    border-spacing: 0;
    th {
      font-weight: 600;
      text-align: left;
      padding: 22px 0 0 20px;
      color: #202020;
    }
    td {
      width: 860px;
      text-align: left;
      padding-top: 16px;
    }
  }
  input {
    box-sizing: border-box;
    border: 0;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.2px;
    color: #000;
    vertical-align: middle;
  }
  input[type="radio"] {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #999;
    background-color: #fff;
    border-radius: 100%;
    margin: -3px 5px 0 0;
    cursor: pointer;
    &:checked {
      appearance: none;
      border: 5px solid #512772;
      background-color: #fff;
    }
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="checkbox"] {
    appearance: none;
    width: 16px;
    height: 16px;
    z-index: -1;
    border: 1px solid #999;
    background-color: #fff;
    border-radius: 10%;
    margin: -3px 5px 0 0;
    cursor: pointer;
    &:checked {
      appearance: none;
      z-index: 10;
      border: 1px solid #512772;
      background: #fff
        url(https://res.kurly.com/pc/service/order/1810/ico_checkbox_32x32_checked.png)
        no-repeat -1px;
      background-size: 16px 16px;
    }
  }

  .title {
    padding: 30px 0 80px;
    text-align: center;
    h1 {
      font-size: 40px;
      font-weight: 500;
      color: #333;
    }
    h3 {
      font-size: 16px;
      font-weight: 500;
      letter-spacing: -0.023em;
      margin-top: 10px;
      color: #999;
    }
  }

  // 상품 정보 닫힘
  .product-info {
    margin-top: 50px;
    font-weight: 400;
    .product-info-table {
      text-align: center;
      .name {
        padding-bottom: 14px;
        margin-top: 20px;
      }
      .detail-btn {
        margin-bottom: 20px;
        cursor: pointer;
        img {
          width: 14px;
          margin-left: 10px;
        }
      }
    }
  }

  // 상품 정보 열림
  .product-info-open {
    margin-top: 50px;
    .product-info-table {
      th {
        text-align: center;
        padding: 15px 0;
        box-sizing: border-box;
        color: #4c4c4c;
        font-size: 14px;
        letter-spacing: -0.3px;
      }
      .info {
        width: 186px;
      }
      tbody {
        font-weight: 400;
        color: #000;
        letter-spacing: -0.3px;
        td {
          border-top: 2px solid #ddd;
          vertical-align: middle;
          padding-top: 0;
        }
        .thumb {
          width: 120px;
          padding: 20px 0 19px;
          img {
            width: 90px;
          }
        }
        .info {
          width: 744px;
          font-size: 12px;
          .name {
            padding-bottom: 23px;
            font-weight: 500;
            font-size: 16px;
          }
        }
        .price {
          width: 186px;
          padding-right: 66px;
          font-size: 16px;
          font-weight: 600;
          text-align: right;
          letter-spacing: -0.3px;
          box-sizing: border-box;
        }
      }
    }
  }

  // 주문자 정보
  .user-info {
    .name {
      input {
        font-size: 15px;
        height: 33px;
      }
    }
    .phone {
      input {
        width: 50px;
        height: 33px;
      }
      .bar {
        position: relative;
        margin: 0 7px;
        span {
          position: absolute;
          left: -10px;
          top: 13px;
          width: 8px;
          height: 1px;
          background-color: #d8d8d8;
        }
      }
    }
    .email {
      width: 360px;
      input {
        font-size: 15px;
        height: 33px;
        letter-spacing: 0.02em;
      }
      p {
        font-size: 12px;
        font-weight: 500;
        line-height: 21px;
        padding: 13px 0 19px;
        color: #514859;
        .color {
          font-weight: 500;
          color: #000;
        }
      }
    }
  }

  // 배송 정보
  .delivery-info {
    table {
      border-bottom: 0;
      margin-bottom: 0;
    }
    h2 {
      display: inline-block;
    }
    .label-radio {
      padding-right: 20px;
      input {
        border: 1px solid #ddd;
        font-size: 12px;
      }
    }
    .delivery-notice {
      font-weight: 500;
      color: #000;
      padding: 8px 0 0 18px;
      .red {
        font-weight: 500;
        color: #f00;
      }
    }
    .field {
      th {
        border-bottom: 2px solid #512772;
        box-sizing: border-box;
        padding: 23px 0 25px 20px;
      }
      td {
        border-bottom: 2px solid #512772;
        box-sizing: border-box;
        padding: 23px 0 20px;
      }
      .current {
        margin-right: 20px;
      }
    }
    .address {
      td {
        padding-top: 22px;
      }
      input {
        width: 600px;
        height: 33px;
        padding: 0 8px;
        font-size: 12px;
        margin-bottom: 8px;
        border: 1px solid #ddd;
      }
      span {
        font-size: 12px;
        margin-left: 10px;
      }
      .address-main {
        background: url(https://res.kurly.com/pc/service/order/1711/ico_selectbox_arrow_10x6.png)
          no-repeat 579px 50%;
      }
      .road {
        font-size: 12px;
        color: #777;
      }
    }
    .deli {
      .txt {
        font-weight: 500;
      }
      p {
        margin-top: 7px;
        font-size: 12px;
        span {
          font-weight: 500;
          letter-spacing: -0.02em;
          color: #514859;
        }
        b {
          color: #000;
          font-weight: 500;
        }
      }
    }
    .receive-name {
      padding-top: 14px;
      input {
        height: 33px;
        border: 1px solid #ddd;
        padding: 0 8px;
        font-size: 12px;
      }
    }
    .receive-phone {
      input {
        width: 50px;
        height: 33px;
        border: 1px solid #ddd;
        padding: 0 8px;
        font-size: 12px;
      }
      .first-number {
        width: 43px;
      }
      .second-number {
        width: 50px;
      }
      .bar {
        position: relative;
        margin: 0 8px;
        span {
          position: absolute;
          left: -4px;
          top: 13px;
          width: 8px;
          height: 1px;
          background-color: #d8d8d8;
        }
      }
    }
    .memo {
      td {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-bottom: 20px;
        font-size: 12px;
        .string {
          margin-left: 10px;
          font-weight: 500;
        }
      }
      textarea {
        width: 600px;
        height: 73px;
        padding: 10px;
        border: 1px solid #ddd;
        text-align: left;
        box-sizing: border-box;
        font-size: 13px;
      }
    }
    .gate {
      width: 100%;
      height: 15px;
      border-top: 1px solid #ddd;
      label {
        margin-right: 20px;
        letter-spacing: -0.02em;
      }
    }
    .msg {
      label {
        margin-right: 20px;
        letter-spacing: -0.02em;
      }
    }
    .save {
      td {
        padding-top: 32px;
      }
      div {
        font-size: 12px;
        line-height: 21px;
        color: #514859;
        margin-top: 5px;
      }
    }
    .new-address {
      .newbtn {
        width: 150px;
        background-color: #5e0080;
        padding: 10px;
        font-size: 14px;
        font-weight: 500;
        border-radius: 4px;
        color: #fff;
        display: block;
        border: 0;
      }
      td {
        padding-top: 22px;
      }
      input {
        width: 600px;
        height: 33px;
        padding: 0 8px;
        font-size: 12px;
        margin-bottom: 8px;
        border: 1px solid #ddd;
      }
      span {
        font-size: 12px;
        margin-left: 10px;
      }
      .address-main {
        background: url(https://res.kurly.com/pc/service/order/1711/ico_selectbox_arrow_10x6.png)
          no-repeat 579px 50%;
      }
      .road {
        font-size: 12px;
        color: #777;
      }
    }
  }

  .notice {
    padding: 30px;
    background: #fafafa;
    border: 1px solid #e5e5e5;
    margin-top: 30px;
    .notice-ic {
      width: 22px;
      height: 19px;
      vertical-align: middle;
      margin-top: -3px;
      display: inline-block;
      background: url(https://res.kurly.com/images/common/old/common/ico_speaker.gif)
        no-repeat;
    }
    .red {
      padding: 5px;
      margin-bottom: 10px;
      color: #ff0000;
    }
    .notice-order {
      margin-top: 10px;
      font-size: 12px;
    }
  }
  .bnr-order {
    width: 100%;
    padding-top: 20px;
  }
  .caution {
    box-sizing: border-box;
    padding: 23px 0 0 20px;
    font-size: 12px;
    color: #514859;
  }

  // 결제 금액
  .payment-price-wrap {
    position: relative;
    width: 255px;
    height: 0;
    float: right;
    .payment-price {
      position: absolute;

      table {
        width: 255px;
        border-top: 0;
        border: 2px solid #5f0080;
        box-sizing: border-box;
        background: #f7f5f8;
        .top-th {
          width: 100px;
          padding: 16px 0 10px 18px;
          border-bottom: 1px solid #ddd;
        }
        .top-td {
          width: 155px;
          text-align: right;
          padding: 16px 20px 10px 0;
          border-bottom: 1px solid #ddd;
        }
        th {
          width: 100px;
          padding: 10px 0 0 18px;
        }
        td {
          width: 155px;
          padding: 10px 20px 0 0;
          text-align: right;
        }
        .use {
          padding: 10px 0 10px 18px;
          border-bottom: 1px solid #ddd;
        }
        .point {
          padding: 10px 20px 10px 0;
          border-bottom: 1px solid #ddd;
        }
        .total-th {
          padding: 23px 0 0 18px;
        }
        .total-td {
          padding: 10px 19px 0 0;
          font-size: 20px;
          font-weight: 700;
          letter-spacing: -0.5px;
          text-align: right;
          color: #572276;
        }
        .small-th {
          width: 0;
          padding: 0;
        }
        .samll-td {
          padding: 10px 20px 16px 0;
          font-size: 12px;
          color: #514859;
          line-height: 18px;
          letter-spacing: -0.2px;
          text-align: right;
          b {
            color: #000;
            font-weight: 500;
          }
        }
      }
    }
  }

  // 쿠폰/적립금
  .cupon {
    table {
      width: 775px;
      border-bottom: 1px solid #ddd;
      th {
        width: 180px;
        border-bottom: 1px solid #ddd;
      }
      td {
        width: 595px;
        border-bottom: 1px solid #ddd;
      }
      .cupon-th {
        letter-spacing: -0.3px;
      }
      .cupon-td {
        font-size: 12px;
        letter-spacing: -0.3px;
      }
      .cupon-kakao {
        font-size: 12px;
        letter-spacing: -0.3px;
        margin: 7px 0 15px;
        color: #795b8f;
      }

      .point {
        td {
          font-size: 12px;
        }
        .text-box {
          width: 162px;
          height: 33px;
          margin: 0 3px 4px 0;
          border: 1px solid #ddd;
          text-align: right;
          font-size: 12px;
          padding-right: 5px;
        }
        .check-box {
          padding: 6px;
          margin-left: 10px;
        }
        .emoney {
          padding: 15px 0 15px;
          letter-spacing: -0.3px;
          font-weight: 500;
          color: #514859;
        }
      }
    }
  }

  // 결제수단
  .product-payment {
    .label-radio {
      margin-right: 50px;
    }
    table {
      width: 775px;
      border-bottom: 0;
      box-sizing: border-box;
      border-bottom: 0;
      th {
        width: 190px;
      }
      tr {
        td {
          font-weight: 400;
          padding-top: 23px;
          input {
            margin: 0 5px 0 0;
            line-height: 18px;
          }
          img {
            height: 18px;
          }

          .list {
            display: flex;
            flex-direction: row;
            align-items: center;
            select {
              width: 190px; /* 원하는 너비설정 */
              padding: 0.8em 0.5em; /* 여백으로 높이 설정 */
              font-family: inherit; /* 폰트 상속 */
              // background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg)
              //   no-repeat 95% 50%; /* 네이티브 화살표 대체 */
              border: 1px solid #000;
              border-radius: 0px; /* iOS 둥근모서리 제거 */
              -webkit-appearance: none; /* 네이티브 외형 감추기 */
              -moz-appearance: none;
              appearance: none;
              background: #fff
                url(https://res.kurly.com/pc/service/order/1711/ico_selectbox_arrow_10x6_active.png)
                no-repeat 170px 50%;
            }
          }
          .phone {
            margin-left: 50px;
          }
        }
      }
      .card-install-list {
        margin-left: 10px;
      }
    }
  }

  .unissued {
    border: 0;
    margin-top: 50px;
    .label-radio {
      margin-right: 50px;
    }
  }

  // 개인정보 수집/제공
  .user-info-data {
    .user-info-data-table {
      border-bottom: 0;
      td {
        padding-left: 20px;
      }
      .subject {
        padding: 5px 10px 0 24px;
        font-size: 12px;
        color: #000;
        .gray {
          color: #949296;
        }
        .confirm {
          padding-left: 10px;
          color: #5f0080;
        }
      }
    }
  }
  .payment-btn {
    text-align: center;
    padding: 30px 0 170px;
    button {
      width: 200px;
      height: 48px;
      font-size: 13px;
      font-weight: 500;
      color: #fff;
      background-color: #5f0080;
      margin-bottom: 10px;
    }
    .cancel-notice {
      padding-top: 10px;
      font-size: 12px;
      font-weight: 500;
      color: #514859;
      line-height: 22px;
      letter-spacing: -0.23px;
      text-align: center;
      b {
        font-weight: 600;
        color: #000;
      }
    }
  }
}
