@import "../../Styles/common";

.Order {
  width: 1050px;
  margin: 0 auto;
  font-size: 14px;
  text-align: left;
  letter-spacing: -0.3px;
  background-color: #fff;

  h2 {
    margin-top: 62px;
    font-size: 20px;
    font-weight: 600;
    color: #808080;
  }
  table {
    width: 100%;
    margin: 20px 0 20px;
    border-top: 2px solid #512772;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    border-collapse: collapse;
    border-spacing: 0;
    th {
      font-weight: 600;
      text-align: left;
      padding: 22px 0 0 20px;
      color: #202020;
    }
    td {
      width: 860px;
      text-align: left;
      padding-top: 16px;
    }
  }
  input {
    box-sizing: border-box;
    border: 0;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.2px;
    color: #000;
    vertical-align: middle;
  }

  .title {
    padding: 30px 0 60px;
    text-align: center;
    h1 {
      font-size: 40px;
      font-weight: 500;
      color: #333;
    }
    h3 {
      font-size: 16px;
      font-weight: 500;
      letter-spacing: -0.023em;
      margin-top: 10px;
      color: #999;
    }
  }
}
