.main-slide {
  position: relative;
  max-width: 100%;
  min-width: 1750px;
  height: 370px;
  display: inline-block;

  &:hover {
    .btn-scroll {
      top: 43%;

      &-left {
        opacity: 1;
        transition: opacity 0.5s ease-in;
        background: url("https://res.kurly.com/pc/service/main/1908/ico_prev1_x1.png")
          no-repeat 50% 50%;
      }
      &-right {
        opacity: 1;
        transition: opacity 0.5s ease-in;
        background: url("https://res.kurly.com/pc/service/main/1908/ico_next1_x1.png")
          no-repeat 50% 50%;
      }
    }
  }

  .btn-scroll {
    top: 43%;
    z-index: 10;
    position: absolute;
    width: 52px;
    height: 52px;
    opacity: 0;

    border: none;
    outline: none;

    &-left {
      left: 15%;
      &:active {
        background: url("https://res.kurly.com/pc/service/main/1908/btn_prev_default.png?v=1")
          no-repeat 50% 50%;
      }
    }

    &-right {
      right: 15%;
      &:active {
        background: url("https://res.kurly.com/pc/service/main/1908/btn_next_default.png?v=1")
          no-repeat 50% 50%;
      }
    }
  }
}
