@import "../../Styles/common";

.OrderList .order-list {
  width: 820px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0 24px;
  border-bottom: 2px solid $color;
  margin-bottom: 10px;
  .title-bar {
    position: relative;
    h2 {
      font-weight: 600;
      font-size: 24px;
      display: inline-block;
      color: #333;
    }
    .sub {
      padding-left: 8px;
      font-size: 12px;
      letter-spacing: -0.02em;
    }
  }
}
