@import "../../Styles/common";

.OrderList {
  .my-page-top {
    width: 100%;
    padding: 50px 0;
    margin-bottom: -20px;
    background-color: #f7f7f7;
    h2 {
      padding-bottom: 26px;
      font-size: 14px;
      color: #333;
    }

    h3 {
      font-weight: 700;
      font-size: 20px;
      padding: 2px 0 11px;
      color: #333;
      span {
        padding-left: 5px;
        font-size: 16px;
      }
    }
    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      list-style: none;
      box-sizing: border-box;
      .user {
        width: 444px;
        height: 176px;
        margin-right: 4px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        background-color: #fff;
        padding: 25px 0 30px 30px;
        box-sizing: border-box;
        .user-grade {
          width: 60px;
          height: 60px;
          border: 1px solid $color;
          border-radius: 5px;
          background-color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          color: $color;
        }
        .user-info {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          margin-left: 20px;
          padding: 0;
          .save-point {
            font-size: 14px;
            font-weight: 500;
            letter-spacing: -0.02em;
            color: #333;
          }
          .btn {
            width: 100%;
            padding-top: 22px;
            button {
              padding-top: 4px;
              margin-right: 10px;
              padding: 5px 25px;
              border: 1px solid #f4f4f3;
              border-radius: 15px;
              background-color: #f4f4f4;
              font-size: 14px;
              font-weight: 600;
              text-align: center;
              color: #333;
            }
          }
        }
      }
      .point {
        width: 198px;
        height: 176px;
        margin-right: 4px;
        background-color: #fff;
        padding: 30px;
        box-sizing: border-box;
        .won {
          font-weight: 700;
          font-size: 20px;
          cursor: pointer;
          color: $color;
          img {
            width: 28px;
            height: 28px;
            margin: 1px 0 0 4px;
            vertical-align: top;
          }
        }
        .remove {
          padding-top: 12px;
          font-size: 12px;
          letter-spacing: -0.02em;
          color: #999;
        }
      }
      .cupon {
        width: 198px;
        height: 176px;
        margin-right: 4px;
        background-color: #fff;
        padding: 30px 30px 55px;
        box-sizing: border-box;
        div {
          font-weight: 700;
          font-size: 20px;
          color: $color;
          cursor: pointer;
          img {
            width: 28px;
            height: 28px;
            margin: 1px 0 0 4px;
            vertical-align: top;
          }
        }
      }
      .pass {
        width: 198px;
        height: 176px;
        margin-right: 4px;
        background-color: #fff;
        padding: 30px 30px 55px;
        box-sizing: border-box;
        div {
          font-weight: 700;
          font-size: 20px;
          color: $color;
          cursor: pointer;
          img {
            width: 28px;
            height: 28px;
            margin: 1px 0 0 4px;
            vertical-align: top;
          }
        }
      }
    }
  }
}
