@import "../../../Styles/common";

.Order {
  .new-address {
    .newbtn {
      width: 150px;
      background-color: #5e0080;
      padding: 10px;
      font-size: 14px;
      font-weight: 500;
      border-radius: 4px;
      color: #fff;
      display: block;
      border: 0;
      margin-bottom: 20px;
    }
    td {
      padding-top: 22px;
    }
    input {
      width: 600px;
      height: 33px;
      padding: 0 8px;
      font-size: 12px;
      margin-bottom: 8px;
      border: 1px solid #ddd;
    }
    span {
      font-size: 12px;
      margin-left: 10px;
    }
    .address-main {
      background: url(https://res.kurly.com/pc/service/order/1711/ico_selectbox_arrow_10x6.png)
        no-repeat 579px 50%;
    }
    .road {
      font-size: 12px;
      color: #777;
    }
  }
}
