@import "../../../Styles/common";

.Order {
  .notice {
    padding: 30px;
    background: #fafafa;
    border: 1px solid #e5e5e5;
    margin-top: 30px;
    .notice-ic {
      width: 22px;
      height: 19px;
      vertical-align: middle;
      margin-top: -3px;
      display: inline-block;
      background: url(https://res.kurly.com/images/common/old/common/ico_speaker.gif)
        no-repeat;
    }
    .red {
      padding: 5px;
      margin-bottom: 10px;
      color: #ff0000;
    }
    .notice-order {
      margin-top: 10px;
      font-size: 12px;
    }
  }
  .bnr-order {
    width: 100%;
    padding-top: 20px;
  }
}
