$color: #5f0080;

input[type="radio"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #999;
  background-color: #fff;
  border-radius: 100%;
  margin: -3px 5px 0 0;
  cursor: pointer;
  &:checked {
    appearance: none;
    border: 5px solid #512772;
    background-color: #fff;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="checkbox"] {
  appearance: none;
  width: 16px;
  height: 16px;
  z-index: -1;
  border: 1px solid #999;
  background-color: #fff;
  border-radius: 10%;
  margin: -3px 5px 0 0;
  cursor: pointer;
  &:checked {
    appearance: none;
    z-index: 10;
    border: 1px solid #512772;
    background: #fff
      url(https://res.kurly.com/pc/service/order/1810/ico_checkbox_32x32_checked.png)
      no-repeat -1px;
    background-size: 16px 16px;
  }
}

@mixin none {
  display: none;
}

@mixin center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
