@import "../../../Styles/common";

.Order {
  .payment-price-wrap {
    position: relative;
    width: 255px;
    height: 0;
    float: right;
    .payment-price {
      position: absolute;

      table {
        width: 255px;
        border-top: 0;
        border: 2px solid #5f0080;
        box-sizing: border-box;
        background: #f7f5f8;
        .top-th {
          padding: 16px 0 10px 18px;
        }
        .top-td {
          padding: 16px 20px 10px 0;
        }
        .line {
          border-bottom: 1px solid #ddd;
          padding: 0 10px;
        }
        th {
          width: 100px;
          padding: 10px 0 0 18px;
        }
        td {
          width: 155px;
          padding: 10px 20px 0 0;
          text-align: right;
        }
        .use {
          padding: 10px 0 10px 18px;
          border-bottom: 1px solid #ddd;
        }
        .point {
          padding: 10px 20px 10px 0;
          border-bottom: 1px solid #ddd;
        }
        .total-th {
          padding: 23px 0 0 18px;
        }
        .total-td {
          padding: 10px 19px 0 0;
          font-size: 20px;
          font-weight: 700;
          letter-spacing: -0.5px;
          text-align: right;
          color: #572276;
        }
        .small-th {
          width: 0;
          padding: 0;
        }
        .samll-td {
          padding: 10px 20px 16px 0;
          font-size: 12px;
          color: #514859;
          line-height: 18px;
          letter-spacing: -0.2px;
          text-align: right;
          b {
            color: #000;
            font-weight: 500;
          }
        }
      }
    }
  }
}
