@import "../../../Styles/common";

.Order {
  .product-info {
    margin-top: 50px;
    font-weight: 400;
    .product-info-table {
      text-align: center;
      .name {
        padding-bottom: 14px;
        margin-top: 20px;
        text-align: center;
      }
      .detail-btn {
        margin-bottom: 20px;
        text-align: center;
        cursor: pointer;
        img {
          width: 14px;
          margin-left: 10px;
        }
      }
    }
  }
}
