footer {
    display: flex;
    flex-direction: column;

    li {
        list-style: none;
        display: inline-block;

        &::after {
            content: " | ";
        }

        &:last-child::after {
            content: "";
        }
    }

    .custom {
        display: flex;
    }

    .footer {
        flex-direction: column;
        &-top {
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 0 auto;
        }

        &-bottom {
            display: flex;
            border-top: 1px solid #eee;
            width: 1050px;
            padding-bottom: 60px;
            margin: 0 auto;

            &-sns img { 
                width: 30px;
                height: 30px;
            }
        }
    }
}