header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    letter-spacing: -0.3px;

    li {
        list-style: none;
        display: inline-block;
        word-break: break-all;
    }

    .nav-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1050px;
        height: 37px;
        margin: 0 auto;
        font-size: 12px;
        
        .profile-listdown {
            color: #5f0080;
        }

        li {
            span {
                padding: 0 10px;
                letter-spacing: -0.3px;
            }

            &::after {
                content: " | ";
                color: #d8d8d8;
            }

            &:nth-child(3) {
                &::before {
                    content: " ";
                    background: url(https://res.kurly.com/pc/ico/1908/ico_down_8x5.png);
                }
            }

            &:last-child {
                &::after {
                    content: "";
                }
            }
        }

        img {
            width: 163px;
            height: 22px;
        }
    }

    .nav-logo {
        display: flex;
        justify-content: center;

        img {
            width: 103px;
            height: 79px;
        }
    }

    .nav-cate-list,
    .nav-prof-list {
        position: absolute;

        ul {
            margin: 0;
            padding: 0;
            background-color: white;
            width: 100%;

            li {
                display: block;
                z-index: 1;
            }
        }
    }

    .nav-prof-list {
        top: -10px;
        padding-top: 10px;
        right: 250px;
        background-color: white;
        z-index: 1;
    }

    .nav-cate-list {
        left: 50px;
        font-weight: 700;
        line-height: 20px;
    }

    .nav-bottom-bar {
        width: 1050px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        margin: 0 auto;
        padding: 0;
        position: relative;

        li {            
            height: 55px;
            padding: 16px 50px 0 48px;
            text-align: center;
            letter-spacing: -0.3px;
            font-weight: 700;

            &::after {
                content: " | ";
                color: #d8d8d8;
            }

            &:last-child {
                &::after {
                    content: "";
                }
            }
        }

        img {
            width: 36px;
            height: 36px;
        }

        div {
            display: flex;
            align-items: center;
        }
    }

    .search-wrap {
        border-radius: 18px;
        display: flex;
        border: 1px solid #f7f7f6;
        background-color: #f7f7f7;
        position: relative;

        input {
            font-size: 12px;
            color: #666;
            border: none;
            border-radius: 18px;
            background-color: #f7f7f7;
            width: 166px;
            height: 36px;
            padding: 0 50px 0 20px;                

            &:focus {
                outline: none;
                background-color: white;

            }
        }

        img {
            position: absolute;
            right: 10px;
            top: 3px;
            width: 30px;
            height: 30px;
        }
    }


    .category-listdown {
        display: flex;

        img {
            width: 16px;
            height: 14px;
        }
    }
}